<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NutriGaze - Smart Sorting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">
    <div class="logo"><a href="/"></a></div>
    <ul class="nav-links">
        <li><a href="/#about">About</a></li>
        <li><a href="/predict">Predict</a></li>
        <li><a href="/#contact">Contact</a></li>
    </ul>
</nav>



    <section class="hero-section">
        <div class="hero-text">
            <h1>Welcome to NutriGaze </h1>
            <h1>GREENGUARD INSIGHTS</h1>
            <p>We are a team of innovative scientists and technologists dedicated to ensuring your produce is always fresh and healthy.</p>
            <a href="/predict" class="hero-button">Get Started</a>
        </div>
    </section>

    <section id="about">
        <h2>About Us</h2>
        <p>NutriGaze leverages AI to classify fruits and vegetables as healthy or rotten with high accuracy.</p>
    </section>

    <section id="contact">
        <h2>Contact</h2>
        <p>Email: nutrigaze@example.com</p>
    </section>

</body>
</html>
